/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    display: flex;
    background-color: #005587;
   width: 100vw;
   height: 60px;
   flex-direction: row;
   align-items: center;
   padding-left: 100px;
   padding-right: 100px;
   animation: nav 1s;

  }

  .searchBarInput{
    width: 30vw;
    height: 20px; 
    border: none;
  }
  .searchBar{
      position: relative;
      margin-left: 30px;
      background-color: white;
      width: 30vw;
      height: 30px;
      border: black;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: center;
  }
  .Searchimage{
      position: absolute;
      right: 10px;
      bottom: 5px;
    width: 40;
    height: 20px;
}
  .image{
      width: 100px;
      height: 20px;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @keyframes nav{
      0%{
          top:-100px
      }
      100%{
        top:0px
    }
  }